<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.qualaroo.cordova"
        version="1.4.0">
  <name>cordova-qualaroo-sdk</name>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  <js-module name="QualarooSdk" src="www/qualaroo.js">
    <clobbers target="QualarooSdk" />
  </js-module>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="QualarooSdk">
        <param name="android-package" value="com.qualaroo.cordova.QualarooPlugin"/>
      </feature>
    </config-file>
    <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
    <source-file src="src/android/QualarooPlugin.java" target-dir="src/com/qualaroo/cordova/"/>
  </platform>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
        <feature name="QualarooSdk">
            <param name="ios-package" value="QualarooPlugin" />
        </feature>
    </config-file>
    <header-file src="src/ios/QualarooPlugin.h" />
    <source-file src="src/ios/QualarooPlugin.m" />
    <framework src="Qualaroo" type="podspec" spec="~> 1.4.3" />
  </platform>
</plugin>